.header {
    font-size: 30px;
    color:aquamarine;
}
body {
    background-color: azure;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.questions {
    background-color: bisque;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}
#loginBox {
    margin-left: 25%;
    margin-right: auto;
    width: 150px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}
#loginItem1 {
    width: 150px;
    height: 35px;
}
#loginItem2 {
    width: 150px;
    height: 35px;
}  
#loginBtn {
    width: 75px;
} 
.slideContainer {
    width: 100%;
}
.slider {
    width: 50%;
}
#data {
    margin-left: 15%;
}
a {
    size: 30px;
    text-decoration: none;
}